@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}

main {
  padding: 24px;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  font-weight: 800;
}

.theme-changer {
  cursor: pointer;
}

.countries-container {
  max-width: 1200px;
  margin-top: 16px;
  margin-inline: auto;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card {
  display: inline-block;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 18px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  background-color: var(--elements-color);
}

.country-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  margin-block: 16px;
}

.card-text {
  padding-inline: 16px;
}

.card-text p {
  margin-block: 8px;
}

.country-card img {
  width: 100%;
}

.search-filter-container {
  max-width: 1200px;
  margin-top: 16px;
  margin-inline: auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  padding-left: 24px;
  background-color: var(--elements-color);
  overflow: hidden;
}

.search-container input {
  border: none;
  outline: none;
  padding: 16px;
  width: 80%;
  background-color: inherit;
  color: var(--text-color);
}

.search-container input:placeholder {
  color: inherit;
}

.filter-by-region {
  width: 250px;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--elements-color);
  color: var(--text-color);
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .countries-container {
    justify-content: center;
  }

  .title {
    font-size: 16px;
  }

  .header-content p {
    font-size: 12px;
  }

  .search-filter-container {
    flex-direction: column;
  }
}
